{% extends 'base/base.html' %}
{%block title%}Register{%endblock%}
{% block content %}
    <div class="container mt-5">
        {% if not request.user.is_authenticated%}
        <!-- Registration form -->
        <form class="col-5 mx-left card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token for security -->

            <!-- Registration form heading -->
            <h1 style="text-align: center;" class="text-primary">Registration Page</h1>
            <hr>

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- First Name input field -->
            <div class="form-group">
                <label for="input_first_name">First name</label>
                <input type="text" class="form-control" id="input_first_name" aria-describedby="emailHelp"
                    placeholder="Enter First name" name="first_name" required>
            </div>

            <!-- Last Name input field -->
            <div class="form-group">
                <label for="input_last_name">Last name</label>
                <input type="text" name="last_name" class="form-control" id="input_last_name"
                    aria-describedby="emailHelp" placeholder="Enter Last name" required>
            </div>

            <!-- Birthday input field -->
            <div class="form-group">
                <label for="input_birthday">Last name</label>
                <input type="date" name="birthday" class="form-control" id="input_birthday"
                     placeholder="Enter Birthday" required>
            </div>

            <!-- Email input field -->
            <div class="form-group">
                <label for="input_email">Email</label>
                <input type="email" name="email" class="form-control" id="input_email"
                     placeholder="Enter Email" required>
            </div>

            <!-- Username input field -->
            <div class="form-group">
                <label for="input_username">Username</label>
                <input type="text" class="form-control" name="username" id="input_username"
                     placeholder="Enter Username" required>
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label for="input_password">Password</label>
                <input type="password" class="form-control" name="password" id="input_password"
                    placeholder="Password" required>
            </div>

            <!-- Link to login page for users who already have an account -->
            <p>Already have an account <a href="/login/">Login</a> </p>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {%else%}
        <div class="col-5 mx-left card p-3 shadow-lg">
            <h1 class="text-info">Please log out before registering new user!</h1>
        </div>
        {% endif %}
    </div>
{% endblock %}