@model GameLibrary

<form method="post" asp-action="EditGame">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Game @Model.GameId</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<input asp-for="GameId" class="form-control" type="hidden"/>
		
		<div class="mb-3">
			<label asp-for="GameTitle"></label>
			<input asp-for="GameTitle" class="form-control" />
			<span asp-validation-for="GameTitle" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameDecription"></label>
			<input asp-for="GameDecription" class="form-control" rows="9"/>
			<span asp-validation-for="GameDecription" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GamePlatforms"></label>
			<input asp-for="GamePlatforms" class="form-control" />
			<span asp-validation-for="GamePlatforms" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameGenres"></label>
			<input asp-for="GameGenres" class="form-control" />
			<span asp-validation-for="GameGenres" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameAgeRating"></label>
			<input asp-for="GameAgeRating" class="form-control" />
			<span asp-validation-for="GameAgeRating" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameDevelopers"></label>
			<input asp-for="GameDevelopers" class="form-control" />
			<span asp-validation-for="GameDevelopers" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GamePublisher"></label>
			<input asp-for="GamePublisher" class="form-control" />
			<span asp-validation-for="GamePublisher" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameImageUrl"></label>
			<input asp-for="GameImageUrl" class="form-control" />
			<span asp-validation-for="GameImageUrl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="GameRelease"></label>
			<input asp-for="GameRelease" class="form-control" />
			<span asp-validation-for="GameRelease" class="text-danger"></span>
		</div>
		@*<div class="md-form md-outline input-with-post-icon datepicker" inline="true">
			<input placeholder="Select date" type="text" id="example" class="form-control">
			<label for="example">Select Date</label>
			<i class="fas fa-calendar input-prefix"></i>
		</div>*@
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Games" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}