{% extends 'base/base.html' %}
{%block title%}Search game by {{promts}}{%endblock%}
{% block content %}
    {% if not user.is_superuser %}
        {% for game in games%}
            <div class="row rounded border border-primary bg-dark">
                <div class="col-md-2 mb-4">
                    <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                        <img src="/media/{{game.image}}" class="img-fluid" style="height: 150px;"/>
                    </div>
                </div>

                <div class="col-md-10 mb-4">
                    <h5>{{game.name}}</h5>
                    <p>
                        {{game.description}}
                    </p>

                    <a class="btn btn-primary" href="{% url 'game_detail' 'game.id' %}">Page</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="container p-3">
            <div class="row pt-4">
                <div class="col-6">
                    <h2 class="text-primary">GameLibrary List</h2>
                </div>
                <div class="col-6 text-end">
                    <a href="{% url 'game_create' %}" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New Game
                    </a>
                </div>
            </div>
            <br /><br />
            <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Game Images
                    </th>
                    <th>
                        Game IDs
                    </th>
                    <th>
                        Game Titles
                    </th>
                    <th>
                        Game Releases
                    </th>
                    <th>
                        Game Developers
                    </th>
                    <th>
                        Game Publishers
                    </th>
                    <th>
                        Game Age Ratings
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td width="10%">
                            <img src="/media/{{game.image}}" class="img-fluid"/>
                        </td>
                        <td width="5%">
                            {{game.id}}
                        </td>
                        <td width="35%">
                            <a href="{% url 'game_detail' 'game.id' %}">{{game.name}}</a>
                            
                        </td>
                        <td width="10%">
                            {{game.release_date}}
                        </td>
                        <td width="10%">
                            {{game.developers}}
                        </td>
                        <td width="10%">
                            {{game.publishers}}
                        </td>
                        <td width="5%">
                            {{game.age_rating}}
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a href="{% url 'game_update' 'game.id' %}"
                                class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <a href="{% url 'game_delete' 'game.id' %}"
                                class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
            
    {% endif %}
{%endblock%}

