@model Review

<form method="post" asp-action="DeleteUserReview">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete User Review</h2>
			<hr />
			<p>
				ID: @Model.ReviewId
			</p>
			<p>
				Review Grade: @Model.ReviewGrade
			</p>
			<p>
				Review Date: @Model.ReviewDate
			</p>
			<p>
				User ID: @Model.UserID
			</p>
			<p>
				User Name: @Model.UserName
			</p>
			<p>
				Review Text: @Model.ReviewText
			</p>
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<input asp-for="@Model.ReviewDate"  type="hidden"/>
		<input asp-for="@Model.UserID"  type="hidden"/>
		<input asp-for="@Model.UserName"  type="hidden"/>
		<input asp-for="@Model.ReviewId"  type="hidden"/>
		<input asp-for="@Model.GameId"  type="hidden"/>
		<input asp-for="@Model.ReviewGrade"  type="hidden"/>
		<input asp-for="@Model.ReviewText"  type="hidden"/>
		<input asp-for="@Model.Game.GameId"  type="hidden"/>
		<input asp-for="@Model.Game.GameAgeRating"  type="hidden"/>
		<input asp-for="@Model.Game.GameDecription"  type="hidden"/>
		<input asp-for="@Model.Game.GameGenres"  type="hidden"/>
		<input asp-for="@Model.Game.GameDecription"  type="hidden"/>
		<input asp-for="@Model.Game.GameDevelopers"  type="hidden"/>
		<input asp-for="@Model.Game.GameImageUrl"  type="hidden"/>
		<input asp-for="@Model.Game.GameTitle"  type="hidden"/>
		<input asp-for="@Model.Game.GamePlatforms"  type="hidden"/>
		<input asp-for="@Model.Game.GamePublisher"  type="hidden"/>
		<input asp-for="@Model.Game.GameRelease"  type="hidden"/>
		<button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
		<a asp-controller="Games" asp-action="Page" asp-route-id="@Model.GameId" class="btn btn-secondary" style="width:150px">
			Back to Game Page
		</a>
		<a asp-controller="Games" asp-action="Reviews"  class="btn btn-secondary" style="width:150px">
			Back to Reviews Moderation
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}